.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.content {
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5% 0 ;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.content::before {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}
.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary {
    color: #fff;
}
.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    width: 70%;
    text-align: center;
    margin-bottom: 40px;
}
.description-primary {
    color: #fff;
}
.description-second {
    color: #7f8c8d;
}
.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
.btn-primary {
    background-color: var(--second-color-dark);
    border: 1px solid var(--second-color-dark);
    transition: background-color .5s;
}
.btn-primary:hover {
    background-color: var(--primary-color);
    color: var(--text-dark);
}
.btn-second {
    background-color: var(--primary-color);
    transition: background-color .5s;
    border: 1px solid var(--primary-color);
}
.btn-second:hover {
    background-color: #fff;
    border: 1px solid var(--primary-color);
    color: var(--second-color-dark);
}
.first-content {
    display: flex;
}
.first-content .second-column {
    z-index: 11;
}
.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}
.first-column img {
    width: 60%;
}
.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

.second-content {
    position: absolute;
    display: flex;
}
.second-content .first-column {
    order: 2;
    z-index: -1;
}
.second-content .second-column {
    order: 1;
    z-index: -1;
}



